GATEWAY_VERSION=v1.1.1
OPT_API_KEY=
GETH_VERSION=stable
NETHERMIND_VERSION=1.33.0
PRYSM_VERSION=v7.1.8
TEKU_VERSION=26.6.0
LIGHTHOUSE_VERSION=v8.2.1
NIMBUS_VERSION=multiarch-v26.7.0
LODESTAR_VERSION=v1.43.0
GATEWAY_PEER=
ADDR=
PEER_ID=
