GATEWAY_VERSION=v0.0.1-rc5
GETH_VERSION=stable
NETHERMIND_VERSION=1.33.0
PRYSM_VERSION=stable
TEKU_VERSION=latest
LIGHTHOUSE_VERSION=v7.1.0
GATEWAY_PEER=/ip4/172.18.0.2/tcp/33212/p2p/16Uiu2HAmFh8yNwpbte1BvAfoYeKqbYkAC5ybfCsiq92y7gZL3X7H
ADDR=/ip4/172.18.0.2/tcp/33212
PEER_ID=16Uiu2HAmFh8yNwpbte1BvAfoYeKqbYkAC5ybfCsiq92y7gZL3X7H
