GATEWAY_VERSION=v1.0.0
GETH_VERSION=stable
NETHERMIND_VERSION=1.33.0
PRYSM_VERSION=stable
TEKU_VERSION=latest
LIGHTHOUSE_VERSION=v7.1.0
NIMBUS_VERSION=multiarch-v26.5.0
LODESTAR_VERSION=v1.43.0
GATEWAY_PEER=
ADDR=
PEER_ID=
